AnchorPane {
    -fx-background-color: #582F0E;
}

.title {
    -fx-text-fill: #c2c5aa;
    -fx-font: System;
    -fx-font-size:85px;
    -fx-font-weight: bold;
}

.h1 {
    -fx-text-fill: #a4ac86;
    -fx-font-family: 'Calibri';
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}


.buttonBrown {
    -fx-background-color: #936639;
    -fx-text-fill: #361c09;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 15%;
}

.buttonBrown:hover{
    -fx-background-color: #7F4F24;
    -fx-text-fill: #361c09;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-background-radius: 15%;
}

.buttonBrown:pressed{
    -fx-background-color: #47260b;
    -fx-text-fill: #361c09;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-background-radius: 15%;
}


.buttonGreen {
    -fx-background-color: #414833;
    -fx-text-fill: #C2C5AA;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-radius: 15%;
}

.buttonGreen:hover {
    -fx-background-color: #333D29;
    -fx-text-fill: #C2C5AA;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-radius: 15%;
}

.buttonGreen:pressed {
    -fx-background-color: #2d3624;
    -fx-text-fill: #C2C5AA;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-radius: 15%;
}


.buttonHome{
    -fx-background-color: #656D4A;
    -fx-text-fill: #C2C5AA;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-background-radius: 8%;
}

.buttonHome:hover{
    -fx-background-color: #414833;
    -fx-text-fill: #C2C5AA;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-background-radius: 8%;
}

.buttonHome:pressed{
    -fx-background-color: #333D29;
    -fx-text-fill: #C2C5AA;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-background-radius: 8%;
}

.toggle-button {
  -fx-graphic: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Pizza-icon.png');
}

.list .list-cell:filled:selected:focused, .list .list-cell:filled:selected {
    -fx-background-color: #414833;
}

.list .list-cell:even {
    -fx-background-color: #C2C5AA;
}

.list .list-cell:odd {
    -fx-background-color: #A4AC86;
}

.list list-cell:selected {
    -fx-background-color: #656D4A;
}

.list .list-cell:filled:hover {
    -fx-background-color: #656D4A;
    -fx-text-fill: white;
}

.t1 {
    -fx-font-family: 'Calibri Light';
    -fx-font-size: 28px;
}

.t2 {
    -fx-font-family: 'Calibri';
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.bookInspector{
    -fx-background-color:  #656D4A;
}